header {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 2rem 0 0 0;
}

header nav {
    width: min(1200px, 90%);
    margin: 0 auto;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

header nav ul li {
    list-style: none;
}

.primary-btn {
    text-decoration: none;
    color: #fff;
    background-color: #0044FF;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: 500;
    transition: all .3s;
}

.primary-btn:hover {
    background-color: #0033CC;
}

.secondary-btn {
    text-decoration: none;
    color: #0044FF;
    background-color: #fff;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: 500;
    transition: all .3s;
}

.secondary-btn:hover {
    background-color: #f2f2f2;
}

.logout-btn {
    text-decoration: none;
    color: #fff;
    background-color: #FF0000;
    padding: .75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: 500;
    transition: all .3s;
    border: none;
}

.greetings {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.greetings span {
    text-transform: uppercase;
    font-weight: 700;
}